body{
    background-size: cover;
    min-height: 100%;
    margin: 30px;
    width: 100%;
}

.logo-heading {
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
}

.logoHeadingFont {
    color:#00B1FC; 
    opacity: 0.7;
    font-weight: 300;
}

header {
    max-width: 95%;
}

.logo {
    width: 250px;
    height: 65px;
    justify-content: center;
}

.bioPic-header{
    height: 100px;
    width: 100px;
}

hr {
    padding: 10px 0 0 0;
    margin: 20px;
    max-width: 95%;
}

nav.navbar {
	position: fixed;
	left: 0;
	width: 350px;
	bottom: 0;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
	border-right: 1px solid #cecece;
}

li {
    padding-left: 20px;
    list-style-type: none;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color: black;
}

h4 {
    padding-left: 20px;
    margin-top: 40px;
}

.mainContent {
    min-width: 1430px;
    min-height: 700px;
    margin-left: 100px;
}

.searchBar {
    min-width: 1430px;
    min-height: 200px;
}

#alphaSearch {
    min-width: 1430px;
    min-height: 100px;
}

label {
    font-size: 18px;
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
    font-size: 20px;
    justify-content: center;
    padding-left: 10px;
    margin-left: 10px;
    height: 48px;
    width: 350px;
}

#filterBy {
    height: 48px;
    width: 200px;
    padding-left: 10px;
    margin-left: 20px;
}

.clearButton {
    background-color: #69BA00;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 70px;
    border: none;
    height: 48px;
    width: 120px;
}

.note {
    min-height: 30px;
}

.profileListDiv {
    padding: 5px 20px;
    border: 1px solid #E5E5E5;
    min-width: 1460px;
    min-height: 400px;
}

.myBtn {
    height: 48px;
    width: 50px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px;
    cursor: pointer;
    background-color: #00B1FC;
  }

.header-layout {
    justify-content: baseline;
    font-weight: 300;
}

#addEmployee {
    min-height: 48px;
    min-width: 200px;
    border: none;
    background-color: #00B1FC;
    color: white;
    font-size: 20px;
    margin-left: 350px;
}

.selectFilter {
    min-height: 48px;
    min-width: 200px;
    padding: 10px;
    font-weight: 500;
}

.required:after {
    content:" *";
    color: red;
}

.flex-container-employeeList {
    display: flex;
    flex-wrap: wrap;
  }

#imgList {
    display: flex;
    min-height: 120px;
    background-color: #E9E8E8;
    margin: 10px 5px;
    max-width: 350px;
    border-radius: 5px;
}

.employeeListImage {
    min-height: 100px;
    max-width: 80px;
    margin-top: 10px;
}

.insiderContent {
    padding: 10px;
    align-items: center;
}

p {
    line-height: 4px;
    font-size: 14px;
    color: rgba(0, 0 , 0, 0.7)
}

.profilePopup {
    min-height: 800px;
    max-width: 400px;
    background-color: #E8E9E8;
    padding: 20px;
}

h5 {
    margin-bottom: 15px;
}

.icons {
    color: rgba(0, 0, 0, 0.7);
    padding-right: 5px;
}

.pointerStyle {
    cursor: default;
    text-decoration: none;
}

.popup {
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
  }

  .popup .popuptext {
    visibility: hidden;
    text-align: center;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
  }

  .employeePic {
    min-width: 360px;
    height: 360px;
  }

  h1 {
    text-align: center;
    padding: 10px 0 20px 0;
    font-size: 44px;
  }

  .profileDescription {
    font-size: 22px;
    line-height: 16px;
  }

 .editButton {
    margin-top: 10px;
    color : white;
    background-color: #00B1FC;
    align-self: center;
    font-size: 20px;
    min-width: 80px;
    margin-left: 70px;
  }

 .deleteButton {
    margin-top: 10px;
    color : white;
    background-color: #EB118E;
    align-self: center;
    font-size: 20px;
    min-width: 80px;
    margin-left: 30px;
 }
